@import './styles/typography.css';

:root {
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-regular);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #f9fafc;
  color: #1b122a;
  font-family: var(--font-family-base);
}

a {
  font-weight: var(--font-weight-medium);
  color: #5d3889;
  text-decoration: inherit;
}
a:hover {
  color: #4a2c6d;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
  background-color: #f9fafc;
  color: #1b122a;
  font-family: var(--font-family-base);
}

h1 {
  font-size: var(--font-size-display);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-bold);
}

input,
button,
textarea,
select,
input::placeholder {
  font-family: var(--font-family-base);
}
