/* Title */
.page-sub-title {
  color: black;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* back arrow */
.forgot-password-back-btn {
  position: absolute;
  left: 1rem;
  background: none;
  border: none;
  color: #111;
  font-size: 2rem;
  cursor: pointer;
  line-height: 1;
  transition: transform 0.15s ease, color 0.2s ease;
}

/* Text saying to enter an email*/
.instruction-text {
  color: black;
  font-size: 1rem;
  margin-top: -1rem;
}

/* File-wide Button Styles */
.submit-email-btn {
  width: 65vw;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  cursor: pointer;
  border: 0.1rem solid black;
  border-radius: 25px;
  transition: background 0.2s;
}

/* Login button */
.submit-email-btn {
  background-color: #6eb2ff;
}

.submit-email-btn:hover {
  background-color: #b2d6ff;
}
