/* Text saying to enter an email*/
.instruction-text {
  color: black;
  font-size: 1rem;
  margin-top: 0rem;
}

/* Button styling */
.forgot-password-page-submit-email-btn {
  background-color: #6eb2ff;
  margin-top: 1.5rem;
}

.forgot-password-page-submit-email-btn:hover {
  background-color: #b2d6ff;
}
