/* pin-details */
.pin-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    color: black;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

/* header */
.header {
    background-color: #9B5DE5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.25rem 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    color: #5d3889
}

.header h2 {
    margin: 0;
}

/* back-button */
.back-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-arrow {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(4996%) hue-rotate(232deg) brightness(90%) contrast(92%);
}

/* bookmark-button */
.bookmark-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmark {
    width: 30px;
    height: 30px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(4996%) hue-rotate(232deg) brightness(90%) contrast(92%);
}

/* event name */
.name {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.25rem 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    flex-direction: column;
}

.name h2 {
    margin: 0;
}

/* map */
.map-section {
    background-color: lightblue;
    width: 100%;
    border-bottom: 1px solid black;
}

/* post-creator */
.post-creator {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    color: #F15BB5;
    gap: 0.5rem;
    font-weight: bold;
}

.profile-icon {
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(4996%) hue-rotate(232deg) brightness(90%) contrast(92%);
}

/* post-description */
.post-description {
    display: block; 
    text-align: left; 
    width: calc(100% - 2rem); 
    margin: 0 1rem;
}

/* post-images */
.post-images {
    background-color: lightblue;
    width: 100%;
}

/* post-info */
.post-info {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    align-items: flex-start;
    width: calc(100% - 2rem);
    margin: 0 1rem;
}

/* post-location */
.post-location {
    display: flex;
    align-items: center;
    color: #5d3889;
    font-weight: bold;
    width: 100%;
}

.pin-icon {
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(4996%) hue-rotate(232deg) brightness(90%) contrast(92%);
    margin-right: 0.5rem;
}

.location-text {
    background-color: #9B5DE5;
    padding: 0.2rem 0.5rem;
    border: 1px solid black;
    border-radius: 8px;
    flex: 1;
}

/* post-occurance */
.post-occurance {
    display: flex;
    align-items: center;
    color: #5d3889;
    font-weight: bold;
    width: 100%;
}

.calendar-icon {
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(4996%) hue-rotate(232deg) brightness(90%) contrast(92%);
    margin-right: 0.5rem;
}

.occurance-text {
    background-color: #9B5DE5;
    padding: 0.2rem 0.5rem;
    border: 1px solid black;
    border-radius: 8px;
    flex: 1;
}

/* post-attendance */
.post-attendance {
    display: flex;
    align-items: center;
    color: #5d3889;
    font-weight: bold;
    width: 100%;
}

.attendance-icon {
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(4996%) hue-rotate(232deg) brightness(90%) contrast(92%);
    margin-right: 0.5rem;
}

.attendance-text {
    background-color: #9B5DE5;
    padding: 0.2rem 0.5rem;
    border: 1px solid black;
    border-radius: 8px;
    flex: 1;
}

.attending-icons {
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(4996%) hue-rotate(232deg) brightness(90%) contrast(92%);
    margin-right: 0.5rem;
}

/* attendance button */
.attendance {
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 100%;
}

.attend-button {
    background-color: #9B5DE5;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    width: calc(100% - 2rem);
    border: 1px solid black;
}

.attend-button.attending {
    background-color: #F15BB5;
}

/* comments-header */
.comments-header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid black;
    color: #5d3889;
    font-weight: bold;
    line-height: 0.80;
    gap: 0.5rem;
}

.comment-icon {
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(4996%) hue-rotate(232deg) brightness(90%) contrast(92%);
}

/* comments-section */
.comments-section {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    align-items: flex-start;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden; 
  background-color: #CDAEF2;
}

.comment-header {
    display: flex;
    align-items: center; 
    gap: 0.5rem;            
    border-bottom: 1px solid black;
    padding: 0.5rem;
    background-color: #CDAEF2;
}

.commenter-pfp {
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(4996%) hue-rotate(232deg) brightness(90%) contrast(92%);
}

.commenter-info {
    display: flex;
    flex-direction: column;
}

.comment-body {
    padding: 0rem 0.75rem;
}

/* create-comment */
.create-comment {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-comment-button {
    width: 75px;
    height: 75px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(11%) saturate(4996%) hue-rotate(232deg) brightness(90%) contrast(92%);
}