/* For the textbox inputs*/
.register-input-container {
  width: 85vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.register-input-container input {
  padding: 10px 12px;
  border: 1.5px solid #888;
  border-radius: 6px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  transition: 0.2s;
  margin-bottom: 2.5rem;
}

.register-input-container input:focus {
  border-color: #75d2fd;
  outline: none;
}

.register-input-container input::placeholder {
  color: #c0c0c0;
}


/* The text under the input box when there is an input error */
.register-input-error-text {
  position: absolute;
  margin-top: 2.9rem;
  color: red;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 600;
  transition: opacity 0.3s ease;
  margin-left: 0.5rem;
}

/* Submit */
.register-submit {
  background: #CDAEF2;
  margin-top: 2rem;
}

.register-submit:hover { 
  background: #9a7fff; 
}

/* Tablets */
@media (max-width: 768px) {
  .register-frame {
    width: 80%;
    min-height: 90dvh;
    border-radius: 36px;          
  }
  .register-title { font-size: 1.8rem; }
  .field { width: 90%; }
  .register-submit { width: 90%; padding: 10px; }
  .back-btn { top: 28px; left: 5px; width: 44px; height: 44px; font-size: 2rem; }
}

/* Phones */
@media (max-width: 480px) {
  .register-page {
    justify-content: flex-start;      
    align-items: center; 
    background: #111;
    height: 100vh;
    overflow: hidden;        
    margin-top: -1.5vh;
  }

  .register-frame {
    width: 82%;
    height: 85vh;            
    border-radius: 40px;   
    transform: scale(0.98);  
    transition: transform 0.2s ease;
    margin-left: auto;
    margin-right: auto;
  }

  .field { width: 90%; }
  .register-submit { width: 90%; padding: 10px; }

  .back-btn {
    top: 10px;
    left: 18px;
    width: 34px;
    height: 34px;
    font-size: 2rem;
  }
}