@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

* {
  font-family: "Urbanist", sans-serif;
}

.badge-overlay {
  display: flex;
  flex-direction: row;
  margin: 0 !important;  
}

.badge-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: center;
  gap: 12px;
}

.badge-background {
  display: flex;
  width: 20vw;
  height: auto;
  border-radius: 8px;
  background-color: #ECF8FE;
  margin-left: 12px;
}

.badge-text-label {
  font-family: 'Urbanist', sans-serif !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  color: black;
  text-transform: capitalize !important;
}