.image-preview-dialog .MuiDialog-paper {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.image-preview-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem !important;
  background: transparent;
}

.image-preview-img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 12px;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
