/* Container for the user picture */
.chat-avatar {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

/* The actual image */
.chat-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}